.bg-photo-1{
    background: url(../img/Hero.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-photo-2{
    background: url(../img/People.png) no-repeat center center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main-header{
    min-height:100%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}
.jumbotron {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    width:100%;
}
.photo{
    background: rgb(17, 99, 100);
    width: 100%;
    height: 100vh;
}
a{
    color:rgb(17, 99, 100);
}
a:hover{
    color: rgb(17, 99, 100);
}
html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }
.my-rounded-circle{
    height:162px;
    width: 162px;
    border-radius: 81px;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 96px;
    text-align: center;
}
.my-rounded-circle-light{
    height:162px;
    width: 162px;
    border-radius: 81px;
    margin: auto;
    color: rgba(0, 0, 0, 0.6);
    font-size: 96px;
    text-align: center;
}

.my-rounded-circle-contact{
    margin: auto;
    color: rgba(17, 99, 100, 0.527);
    font-size: 38px;
    text-align: center;
}
.my-rounded-circle-contact:hover{
    color:rgb(17, 99, 100);
}
.breaking-bg{
    display: flex !important;
    align-items: center;
    align-content: center;
    background-color: #76323F;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #C09F80 25%, transparent 25%), linear-gradient(225deg, #C09F80 25%, transparent 25%), linear-gradient(45deg, #C09F80 25%, transparent 25%), linear-gradient(315deg, #C09F80 25%, #76323F 25%);
    background-position:  9px 0, 9px 0, 0 0, 0 0;
    background-size: 18px 18px;
    background-repeat: repeat;
    color: white;
    padding: 64px 0;
    min-height:100vh;
    width: 100%;

}
.blockquote-footer{
    color: black;
    padding: 12px 0;
}
.navbar{
    background-color: rgb(118, 50, 63) !important;  
    backdrop-filter: blur(6px) !important;
}
.breaking-bg-dark{
    display: flex !important;
    align-items: center;
    align-content: center;
    background-color: rgba(44, 53, 49, 0.685) !important;  
    padding: 64px 0;
    min-height:100vh;
    width:100%;
}
.breaking-bg-light-about-us{
    display: flex !important;
    align-items: center;
    align-content: center;
    background-color: rgb(234, 231, 220);
    padding: 64px 0;
    min-height:100vh;
    width:100%;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text{
    margin: 0 6px;
    font-size: 14px;
    font-weight: 600;
}
.breaking-bg-gallery{
    display: flex !important;
    align-items: center;
    align-content: center;
    background-image: url(../img/background-2.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 64px 0;
    min-height:100vh;
    width:100%;
}
.breaking-bg-light-connect-us{
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(234, 231, 220, 1) !important;  
    backdrop-filter: blur(2px) !important;
    padding: 96px 0 0 0;
    min-height:100vh;
    width:100%;
}
.marketing{
    background-color: rgba(17, 101, 102, 0.6) !important;  
    backdrop-filter: blur(2px) !important;
    padding: 16px;
    border-radius: 12px;
    margin: 10px;
    height: 448px;
    color: white;
}
.opinins{
    background-color: rgba(255, 255, 255, 0.7) !important;  
    backdrop-filter: blur(5px) !important;
    padding: 16px;
    border-radius: 12px;
    margin: 10px;
    height: 448px;
    color: black;
    text-align: center;
}
.white-hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}
.menu-sofirex>li:hover{
    font-size: 24px;
}
#scrollUp {
    display: none; 
    position: fixed;
    bottom: 10vh;
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color:rgba(118, 50, 63, 0.527);
    border-radius: 12px;
    backdrop-filter: blur(2px) !important;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 72px;
    font-size: 28px;
    opacity: 60%;
}  
#scrollUp:hover {
    background-color: rgba(118, 50, 63, 0.89);
    border-radius: 12px;
}
.hero-button{
    padding: 24px 0;
}
#hero-button{
    font-weight: 600;
    background-color:rgba(118, 50, 63, 0.6);
    border: rgba(255, 255, 255, 0.3) solid 1px;
    color: #fff;
    border-radius: 12px;
}
#hero-button:hover{
    background-color:rgba(118, 50, 63, 1);
    border: rgba(255, 255, 255, 0.6) solid 1px;
    backdrop-filter: blur(2px) !important;
    font-weight: 600;
    color: #fff;
    border-radius: 12px;
}
.header-about-us{
    background-color:rgb(124, 85, 92);
    border-radius: 12px;
}
.hero-text{
    max-width: 90%;
}
#contact-button{
    margin-left: auto;
    margin-right: auto;
}

/*gallery*/

  .gallery-block .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.compact-gallery .item{
    overflow: hidden;
    margin-bottom: 0;
    opacity: 1;
  }
  
  .gallery-block.compact-gallery .item .image{
    transition: 0.8s ease;
  }
  
  .gallery-block.compact-gallery .item .info{
    position: relative;
      display: inline-block;
  }
  
  .gallery-block.compact-gallery .item .description{
    display: grid;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      font-size: 17px;
      line-height: 18px;
      width: 100%;
      opacity: 1;
      color: #fff;
      transition: 0.8s ease;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
  }
  
  footer{
    background-color:rgb(118, 50, 63);
    padding: 16px 0;
  }
  
  @media (min-width: 576px) {
    .gallery-block .zoom-on-hover:hover .image {
      transform: scale(1.1);
      opacity: 0.7; 
    }
  }
  /* Flex display */
  .container-flex{
      display: flex;
      height: 100vh;
      width: 100%;
      background-color: #fdeee0;
      background: radial-gradient(circle, transparent 20%, #fdeee0 20%, #fdeee0 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fdeee0 20%, #fdeee0 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#7c555c 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #7c555c 1.8px, #fdeee0 1.8px) -0.9px 0;
      background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
  }
